<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="customer" class="demo.readingconfiguration.Customer">
		<property name="customerName" value="Aman Singh" />
		<property name="customerId" value="11" />
		<property name="address" ref="adds1" />
	</bean>

	<bean id="adds1" class="demo.readingconfiguration.Address">
		<property name="city" value="Pune" />
		<property name="country" value="India" />
		<property name="state" value="Maharastra" />
		<property name="addressId" value="654321" />
	</bean>

	<bean id="adds2" class="demo.readingconfiguration.Address">
		<property name="city" value="Harda" />
		<property name="country" value="India" />
		<property name="state" value="M.P" />
		<property name="addressId" value="2" />
	</bean>

	<bean id="personBean" class="demo.readingconfiguration.Person">
		<constructor-arg name="adharCardNumber" value="786745352879" />
		<constructor-arg name="personName" value="ASP" />
		<!-- Below we are injecting the dependencies -->
		<constructor-arg name="residentialAddress" ref="adds1" />
		<constructor-arg name="permanentAddress" ref="adds2" />
	</bean>

</beans>

<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="customer" class="springexamples.readingconfig.greeter.Customer">
		<property name="customerName" value="Rohan Rajore"/>
		<property name="customerId" value="15"/>
		Below using property i am injecting the dependencies
		<property name="address" ref="addrBean1"/>
	</bean>
	
	<bean id="addrBean1" class="springexamples.readingconfig.greeter.Address">
		<property name="city" value="Pune"/>
		<property name="state" value="Maharashtra"/>
		<property name="country" value="India"/>
		<property name="addressId" value="1"/>
		
	</bean>
	
	<bean id="addrBean2" class="springexamples.readingconfig.greeter.Address">
		<property name="city" value="Indore"/>
		<property name="state" value="Madhya Pradesh"/>
		<property name="country" value="India"/>
		<property name="addressId" value="2"/>
		
	</bean>
	
	<bean id="personBean" class="springexamples.readingconfig.greeter.Person">
		<constructor-arg name="adharCardNumber" value="786745352879"/>
		<constructor-arg name="personName" value="Smith"/>
		Below we are injecting the dependencies 
		<constructor-arg name="residentialAddress" ref="addrBean1"/>
		<constructor-arg name="permanentAddress" ref="addrBean2"/>
	</bean>
</beans> -->