<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Order Form</title>
</head>
<body>
<!-- we use *  to POST data and  $ to GET data i.e. *{varName} & i${varName}  -->
	<form action="#" th:action="@{/saveorder}" th:object="${order}" method="post">
		<p>Order Name : <input type="text" th:field="*{orderName}"/></p>
		<p><input type="submit" value="Submit"/></p>
	</form>
	
	<form action="#" th:action="@{/deleteorder}" th:object="${order}" method="delete">
		<p>Order Id : <input type="text" th:field="*{orderId}"/></p>
		<p>Order Name : <input type="text" th:field="*{orderName}"/></p>
		<p><input type="submit" value="Delete"/></p>
	</form>
</body>
</html>